.dark-mode {
  background-color: black !important;
  color: white !important;
  border: 1px solid lightgrey;
}
.bookmark--dark-mode--active {
  border-color: white;
  border-bottom-color: transparent;
}
