.nav {
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}
.nav__divider {
  height: 3vh;
  width: 1px;
  background-color: black;
  opacity: 0.5;
}
.nav__link a img {
  object-fit: cover;
  height: 5vh;
  width: 5vw;
}
